.DropdownMenu {
    background-color: #883D0D;
}

.DropdownList {
    display: inline-block;
    max-width: 60%;
    padding: 3px;
}

.Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
}

.DropdownList i {
    color: #f17d3a;
}