.App {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #fef0de;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

input[type="file"] {
  display: none;
}

.Content {
  background: #883D0D;
  border: 1px solid #140302;
  box-sizing: border-box;
  align-self: center;
  border-radius: 30px;
  color: #140302;
  text-align: center;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

a {
  color: #140302;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #140302;
}

i {
  color: #fef0de;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  color: #140302;
}

figure {
  text-align: center;
  display: inline-block;
}

.Image {
  max-height: 45vh;
  max-width: 100%;
  object-fit: contain;
}